@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@100;300;400;500;700&family=Raleway:wght@100;300;400;700&display=swap");

.active {
  color: #ed2647;
  background-color: #ddd;
  font-weight: bold;
}

.link:hover:not(.active) {
  background-color: #444;
}
