@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@100;300;400;500;700&family=Raleway:wght@100;300;400;700&display=swap");

.active {
  color: #ed2647;
  background-color: #ddd;
  font-weight: bold;
}

.link:hover:not(.active) {
  background-color: #444;
}

/* Status */
.status-active {
  color: #4caf50;
}

.status-closed {
  color: #808080;
}

.status-resolved,
.status-completed {
  color: #0066cc;
}

.status-inactive {
  color: #ff5252;
}
.status-progressing,
.status-in-progress {
  color: #87ceeb;
}
.status-new {
  color: magenta;
}
.status-on-hold {
  color: #f39c12;
}
.status-open {
  color: #2ecc71;
}
.status-review {
  color: royalblue;
}

/* Status */

/* Loader */
.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
  color: #ed2647;
  background: radial-gradient(
    farthest-side,
    currentColor calc(100% - 6px),
    #0000 calc(100% - 5px) 0
  );
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - 13px),
    #000 calc(100% - 12px)
  );
  border-radius: 50%;
  animation: s9 2s infinite linear;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center,
    linear-gradient(currentColor 0 0) center;
  background-size: 100% 10px, 10px 100%;
  background-repeat: no-repeat;
}
.custom-loader::after {
  transform: rotate(45deg);
}

@keyframes s9 {
  100% {
    transform: rotate(1turn);
  }
}

/* Loader */

/* Scrollbar */

/* For WebKit browsers (Chrome, Safari) */
/* You may need to adjust these styles based on your design */
/* Vertical scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #333; /* Dark background color for the thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Dark background color for the thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a; /* Dark background color for the track */
}

/* Horizontal scrollbar */
::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover:horizontal {
  background-color: #555;
}

::-webkit-scrollbar-track:horizontal {
  background-color: #1a1a1a;
}

/* For Firefox */
/* These styles may vary based on Firefox version and OS */
/* You may need to adjust these styles based on your design */
scrollbar-color: #1a1a1a #333;

/* For Edge */
/* You may need to adjust these styles based on your design */
-ms-overflow-style: none;
scrollbar-width: thin;

/* Hide scrollbar in Edge but still keep the styling */
/* You may need to adjust these styles based on your design */
body {
  scrollbar-color: #1a1a1a #333;
}

/* Scrollbar */

/* Priority Tags */

.priority-critical,
.severity-critical {
  color: red;
}
.priority-high,
.severity-high {
  color: #ffaa00;
}
.priority-medium {
  color: #3498db;
}
.priority-low {
  color: #b7e1a1;
}

/* Priority Tags */

table td a {
  font-weight: 400;
  font-size: 1rem;
}

/* ProgresBar */

/* ProgressBar.css */

.progress-bar {
  min-width: 100px;
  /* width: 100%; */
  /* height: 12px; */
  background-color: #e0e0e0;
  overflow: hidden;
  position: relative;
  border-radius: 1px;
  position: relative;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(to right, #66bb6a, #43a047);
  transition: width 0.5s ease-in-out;
  display: flex;
  align-items: center;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: bold;
  font-size: 12px;
}

.progress-fill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: -1;
}

/* ProgressBar.css */

::placeholder {
  color: rgba(255, 255, 255, 0.2) !important;
}

.login::placeholder {
  color: #3333338b !important;
}
